<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index page</title>
</head>
<body>
<div style="width: 40%;margin: 0 auto;">
	<div style="float:  left"><img src="/static/logo.png" width="100" /></div>
	<div style="text-align: center;"><h1>Welcome to the Python Web App!</h1></div>

	<div style="text-align: center;"><p>The hostname of the container is <b>{{ hostname }}</b> and its IP is <b>{{ ip }}</b>.</p></div>

	<div style="width: 40%;margin: 0 auto;"><img src="/static/python.png" width="300" /></div>
</div>
</body>
</html>

	
